.dispchat {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 50%;
    color: var(--secondary);
    background-color: var(--quinary);
    border-radius: 15px;
}

.dispchat.user {
    margin-left: auto;
    background-color: var(--quaternary);
}